<div class="container mt-4">
  <div class="btn-group d-flex justify-content-around" role="group">
    <button 
      class="btn btn-primary" 
      [routerLink]="['/patient']" 
      routerLinkActive="router-link-active" 
      
       >
      Patient
    </button>
    <button 
      class="btn btn-primary" 
      [routerLink]="['/doctor']" 
      routerLinkActive="router-link-active" 
       >
      Doctor
    </button>
    <button 
      class="btn btn-primary" 
      [routerLink]="['/admin']" 
      routerLinkActive="router-link-active"  
       >
      Admin
    </button>
  </div>

  <div class="tab-content mt-3">
    <router-outlet></router-outlet> <!-- This will render the component for the selected route -->
  </div>
</div>
